<!-- Displays slider and comment text area with a button to make your vibe, sends you to map view -->

<input type="hidden" id='api-token' value="<%= @user.token %>">

<script type="text/javascript" src="<%= asset_path("slider.js") %>"></script>
<div class="formContainer">
<form class="create-rating" action="/api/ratings" method="post">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <!-- <%= hidden_field_tag :authenticity_token, form_authenticity_token %> -->
  <input type="hidden" name='token' value="<%= @user.token %>">

    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="amount">Mood Rating:</label>
      <input type="text" name="rating[mood]" id="amount">
    </div> -->
    <div class="row textAlignCenter">
      Feeling Good
    </div>
    <div class="row textAlignCenter">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
      </div>

      <div class="divCenter col-xs-6 col-sm-6 col-md-6 col-lg-6">

        <div id="slider-range-max"></div>
        <input id="amount" type="hidden" name="rating[mood]">

      </div>
    </div>
    <div class="row textAlignCenter">
      Feeling Bad
    </div>
  <div class="row textAlignCenter">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <textarea name="rating[comment]" rows="3" cols="30" placeholder="Write something here..."></textarea>

    </div>
  </div>
  <div class="row textAlignCenter">
    <input type="hidden" name="rating[latitude]" id="lat">
    <input type="hidden" name="rating[longitude]" id="lon">
    <input class="mainButton" type="submit" value="Vibe">
  </div>

</form>
</div>

<!--
<form class="create-rating" action="/api/ratings" method="post">
  <input type="text" id="rating-post" name="rating[mood]" placeholder="Rating (1-10)">
  <input type="text" name="rating[comment]" placeholder="Comment...">
  <input type="hidden" name="rating[latitude]" id="lat">
  <input type="hidden" name="rating[longitude]" id="lon">
  <input type="submit" value="Add Rating">
</form>
-->
