<!-- Displays Profile Page containing user info and profile image -->

<script type="text/javascript" src="<%= asset_path("profile.js") %>"></script>
<div class="formContainer">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <input type="hidden" id='api-token' value="<%= @user.token %>">

  <div class="row marginTopPlus">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="title">Profile</div>
    </div>
  </div>



  <%= form_for @user do |f| %>
  <div class="row marginTop">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img class="profile-image" src="<%= @user.image_url %>">
    </div>
  </div>
  <div class="row marginTop">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fontSize">
      <%= f.label :first_name, "First name:" %>
      <%= @user.first_name %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fontSize">
      <%= f.label :last_name, "Last name:"%>
      <%= @user.last_name %>
    </div>
  </div>
  <div class="row marginTop">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fontSize">
      <%= f.label :username, "Username:" %>
      <%= @user.username %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fontSize">
      <%= f.label :email, "Email:" %>
      <%= @user.email %>
    </div>
  </div>

  <div class="row marginTop">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fontSize">
      <%= f.label :address %>
      <%= @user.address %>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fontSize">
      <%= f.label :city %>
      <%= @user.city %>
    </div>
  </div>
  <div class="row marginTop">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fontSize">
      <%= f.label :state %>
      <%= @user.state %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fontSize">
      <%= f.label :zip_code %>
      <%= @user.zip %>
    </div>
  </div>

  <% end %>

  <div class="row textAlignCenterPure marginTopPlus">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="users/edit"><button class='mainButton'>Edit</button></a>
    </div>
  </div>
  <div class="row textAlignCenterPure marginBottomPlus">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="/users/vibe/"><button class='mainButton'>Vibe</button></a>
    </div>
  </div>
</div>

</div>
</div>
