<!-- Displays Profile Page containing user info and profile image -->

<script type="text/javascript" src="<%= asset_path("profile.js") %>"></script>
<div class="formContainer">
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1">
</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
  <input type="hidden" id='api-token' value="<%= @user.token %>">

  <div class="row marginTop">
    <div class="col-sm-1 col-md-1 col-lg-2">
    </div>
    <div class="col-xs-6 col-sm-5 col-md-5 col-lg-4">
      <div class="title">Profile</div>
    </div>
  </div>



  <%= form_for @user do |f| %>
  <div class="row marginTop">
    <div class="col-sm-1 col-md-1 col-lg-2">
    </div>
    <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
      <img class="profile-image" src="<%= @user.image_url %>">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
      <%= f.label :first_name, "First name:" %>
      <%= @user.first_name %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
      <%= f.label :last_name, "Last name:"%>
      <%= @user.last_name %>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
      <%= f.label :username, "Username:" %>
      <%= @user.username %>
    </div>
  </div>


  <div class="row marginTop">

    <div class="col-sm-1 col-md-1 col-lg-2">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
      <%= f.label :email, "Email:" %>
      <%= @user.email %>
    </div>
  </div>

  <div class="row marginTop">
    <div class="col-sm-1 col-md-1 col-lg-2">
    </div>
    <div class="col-xs-6 col-sm-5 col-md-5 col-lg-4">
      <%= f.label :address %>
      <%= @user.address %>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
      <%= f.label :city %>
      <%= @user.city %>
    </div>
  </div>
  <div class="row marginTop">
    <div class="col-sm-1 col-md-1 col-lg-2">
    </div>
    <div class="col-xs-6 col-sm-5 col-md-5 col-lg-4">
      <%= f.label :state %>
      <%= @user.state %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
      <%= f.label :zip_code %>
      <%= @user.zip %>
    </div>
  </div>

  <% end %>

  <div class="row marginTop">
    <div class="col-sm-1 col-md-1 col-lg-2">
    </div>
    <div class="col-xs-6 col-sm-5 col-md-5 col-lg-4">
        <a href="users/edit"><button class='mainButton'>Edit</button></a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
        <a href="/users/vibe/"><button class='mainButton'>Vibe</button></a>
    </div>
  </div>
</div>

</div>
</div>
